.exams {
  box-sizing: border-box;
}

.exams__cyfe {
  margin: 0;
  margin-top: 60px;
  padding-right: 50px;
  padding-left: 50px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .exams__cyfe:hover {
  box-shadow: 0 2px 8px 2px rgb(28 29 31 / 15%);
} */

.exams__cyfe > div {
  margin-right: auto;
}

.exams__resources {
}

.exams__resources > p {
  text-align: center;
  padding: 55px 0;
}

.exams__resources--card {
  height: 150px;
  text-align: center;
  color: grey;
}

.exams__resources--card:hover {
  box-shadow: 0 2px 8px 2px rgb(28 29 31 / 15%);
}
