.divBox {
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
  padding-bottom: 18px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
}

.divBox__label {
  position: absolute;
  top: -7px;
  left: 4px;
  font-size: 12px;
  padding: 0 5px;
  background-color: white;
}
