.deviceAccess__body {
  margin-top: 12px !important;
  margin-bottom: 15px !important;
}

.deviceAccess__switch > span {
  font-size: 14px !important;
  margin: 3px 0 3px 3px;
  /* font-family: Arial sans-serif !important; */
  /* font-family: inherit; */
}
