.exambuilder__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  height: 60px;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.246);
  background-color: #2c2926;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.exambuilder__name {
  display: flex;
  align-items: center;
}

.exambuilder__menu a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0 10px;
}
